<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "POI Report" | translate }}</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;" *ngIf="poilist.length != 0">
    <ion-label style="margin-top: 15px;">{{
      "Select POI" | translate
    }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedPOI" [items]="poilist" itemValueField="poiname"
      itemTextField="poiname" [canSearch]="true" (onChange)="getpoiid(selectedPOI)">
    </select-searchable>
  </ion-item>
  <ion-item style="background-color: #fafafa;" *ngIf="portstemp.length != 0">
    <ion-label style="margin-top: 15px;">{{
      "Select Vehicle" | translate
    }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getvehicleid(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <!-- <ion-toolbar style="padding:0px;"> -->
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater"
          [max]="today" [(ngModel)]="datetimeStart" style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getReport()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content style="margin: 5%;">
  <ion-card *ngFor="let rep of poireportData" style="border-radius: 5px;">
    <ion-row style="background-color:#f2f2f2; padding-top:5px; padding-bottom: 5px" padding-left padding-right>
      <p style="font-size:1.2em; color:gray; font-weight: bold">
        {{ "POI Name:" | translate }} {{ rep.poiname }}
      </p>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <p style="font-size: 1em;">{{ rep.Device_Name }}</p>
      </ion-col>
      <!-- <ion-col col-6>{{rep.Device_ID}}</ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col col-1 style="text-align: center;">
        <ion-icon style="font-size: 1.3em;" color="gpsc" name="pin"></ion-icon>
      </ion-col>
      <ion-col col-11>
        <p *ngIf="rep.address != undefined">{{ rep.address }}</p>
        <p *ngIf="rep.address == undefined">N/A</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 style="font-size:0.8em; color: gray">{{ "Arr -" | translate }}
        <span *ngIf="rep.arrivalTime != undefined">{{
          rep.arrivalTime | date: "short"
        }}</span>
        <span *ngIf="rep.arrivalTime == undefined">N/A</span>
      </ion-col>
      <ion-col col-6 style="font-size:0.8em; color: gray">{{ "Dep -" | translate }}
        <span *ngIf="rep.departureTime != undefined">{{
          rep.departureTime | date: "short"
        }}</span>
        <span *ngIf="rep.departureTime == undefined">N/A</span>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>