<ion-header>
  <ion-navbar>
    <ion-title>Select User</ion-title>
    <ion-buttons end>
      <button (click)="dismiss()" icon-only ion-button>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-50>
      <button ion-button color="gpsc"  round block (click)="checkAll('select')">Select All</button>
    </ion-col>
    <ion-col col-50>
      <button ion-button color="light"  round block (click)="checkAll('deselect')">Deselect All</button>
    </ion-col>
  </ion-row>
  
  <ion-list *ngIf="obj.length > 0">
    <ion-item *ngFor="let member of filterObj">
      <ion-label>{{member.first_name}}</ion-label>
      <ion-checkbox (click)="selectMember(member)"
                    [(ngModel)]="member.checked"
                    color="dark">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="myColor">
  <ion-toolbar style="background-image: linear-gradient(to right top, #251d73, #c0002d, #a60033, #8b0935, #6f1133);">
    <ion-title (click)="done()">Done</ion-title>
  </ion-toolbar>
</ion-footer>
